body {
    background-color: black;
}

.container {
    background-color: white;
}

.header {
    background-color: black;
    padding-top:3vh;
}

.header h3 {
    font-family:roboto;
    color:white;
    padding-left:5vh;
}

.header a:link {
    font-family:roboto;
    color:white;
    font-size:13px;
    text-decoration:none;
    text-transform: uppercase;
}

.header a:hover {
    font-family:roboto;
    color:white;
    font-size:13px;
    text-decoration:underline;
    text-transform: uppercase;
}

.featured {
    background-color: black;
    background-image: url("/theatre_company/images/theater-image-background.png");
    margin:auto;
    width:100%;
    height:auto;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    margin-top:-1vh;
}

.featured-text {
    color:white;
    text-align:center;
    font-size:90px;
    font-family:roboto;
}

.date {
    border: 1px gray solid;
    background-color:lightgray;
    width:84%;
    margin:auto;
    margin-top: 5vh;
    font-family:roboto;
}

.row hr {
    margin-top:2vh;
    width:84%;
}

.show {
    margin-top:2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid white;
}

.show h4 {
    margin-left:7vh;
    font-family:roboto;
}
.show p {
    margin-left:7vh;
    font-family:roboto;
}

.show img {
    margin:auto;
    width:100%;
    height:auto;
}

.show input[type=button] {
    background-color: rgb(233, 181, 49);
    color:white;
    border:1px solid rgb(157, 157, 157);
    padding:1em;
    border-radius:4%;
    font-family:roboto;
}

.show input[type=button]:hover {
    background-color: rgb(253, 202, 72);
    color:white;
    border:1px solid gray;
    padding:1em;
    border-radius:4%;
    font-family:roboto;
}

.footer {
    background-color:black;
    padding-top:2vh;
    color:white;
    padding-bottom:2vh;
    padding-left:5vh;
}

.footer img {
    width:100%;
    height:auto;
    margin:auto;
}

.footer h3 {
    font-family:roboto;
}

.footer p{
    font-family:roboto;
    font-size: 13px;
}

.footer a:link{
    color:white;
    text-decoration:none;
    font-size: 13px;
}

.footer a:hover{
    color:white;
    text-decoration:underline;
    font-size: 13px;
}